input,
textarea,
select {
  display: block;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 15px;
  outline: 0;
  width: 100%;
  margin-bottom: .5rem;
  transition: all .2s ease;

  &:focus {
    border-color: map_get($colors, primary);
    box-shadow: 2px 2px 10px transparentize(black, .8);
  }
}

label {
  font-size: 13px;
  line-height: 24px;
  color: map_get($colors, primary);
  font-weight: bold;
}
