@import 'variables';
@import 'grid';
@import 'colors';
@import 'button';
@import 'form';
@import 'text';
@import 'card';
@import 'chip';

* {
  box-sizing: border-box;
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 1rem auto;
}

.app {
  @each $key, $dir in $directions {
    .m#{$key}-0 {
      margin-#{$dir}: 0;
    }
    .p#{$key}-0 {
      padding-#{$dir}: 0;
    }
  }
}
