$columns: 12;
$sizes: (s, 0), (m, 601px), (l, 993px), (xl, 1201px);
$align: left, center, right;

$colors: (
  primary: #009b9b,
  grey: #f8f8f8,
  black: #000,
  white: #fff,
);

$directions: (t, top), (r, right), (b, bottom), (l, left);
